pipeline/pl_copy_testing_to_sql.json
{
	"name": "pl_copy_testing_to_sql",
	"properties": {
		"activities": [
			{
				"name": "Copy Testing Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "TestingMapplingLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"wildcardFolderPath": "ecdc/testing_data",
							"wildcardFileName": "*.csv",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "TRUNCATE TABLE covid_reporting.@{variables('Table_name')}",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@activity('TestingMapplingLookup').output.value",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "ds_processed_testing_data",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ECDC_Azure_DB",
						"type": "DatasetReference",
						"parameters": {
							"TableName": {
								"value": "@variables('Table_name')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "TestingMapplingLookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "ds_testing_mapping_json",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"Table_name": {
				"type": "String",
				"defaultValue": "testing"
			}
		},
		"folder": {
			"name": "SqlLoad"
		},
		"annotations": [],
		"lastPublishTime": "2022-06-08T14:03:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}